<div class="container">
  <section class="library-section-box">
    <div class="first-box-library is-hidden">
      <div class="library-txt-info">
        <p class="info-about-library">
          OOPS... <br />
          We are very sorry! <br />
          You don’t have any movies at your library.
        </p>
      </div>
      <div class="search-link-films">
        <a class="btn-library-search" href="./catalog.html">Search movie</a>
      </div>
    </div>
    <div class="select is-hidden">
      <select name="nameSelect" id="genre">
        <option value="genre" selected>All genres</option>
        <option value="action">Action</option>
        <option value="adventure">Adventure</option>
        <option value="animation">Animation</option>
        <option value="comedy">Comedy</option>
        <option value="crime">Crime</option>
        <option value="documentary">Documentary</option>
        <option value="drama">Drama</option>
        <option value="family">Family</option>
        <option value="fantasy">Fantasy</option>
        <option value="history">History</option>
        <option value="horror">Horror</option>
        <option value="music">Music</option>
        <option value="mystery">Mystery</option>
        <option value="romance">Romance</option>
        <option value="science">Science Fiction</option>
        <option value="tv Movie">TV Movie</option>
        <option value="thriller">Thriller</option>
        <option value="war">War</option>
        <option value="western">Western</option>
      </select>
    </div>
    <ul class="library-gallery"></ul>
  </section>
</div>
