<div class="container">
  <section class="library-section-box">
    <ul class="library-gallery"></ul>
    <div class="library-txt-info">
      <p>
        OOPS... <br />
        We are very sorry! <br />
        You don’t have any movies at your library.
      </p>
    </div>
    <button class="btn-library-search" type="button">Search movie</button>
  </section>
  <div class="select">
    <select name="name" id="genre">
      <option value="genre" selected>Genre</option>
      <option value="action">Action</option>
      <option value="adventure">Adventure</option>
      <option value="animation">Animation</option>
      <option value="comedy">Comedy</option>
      <option value="crime">Crime</option>
      <option value="documentary">Documentary</option>
      <option value="drama">Drama</option>
      <option value="family">Family</option>
      <option value="fantasy">Fantasy</option>
      <option value="history">History</option>
      <option value="horror">Horror</option>
      <option value="music">Music</option>
      <option value="mystery">Mystery</option>
      <option value="romance">Romance</option>
      <option value="science">Science Fiction</option>
      <option value="tv Movie">TV Movie</option>
      <option value="thriller">Thriller</option>
      <option value="war">War</option>
      <option value="western">Western</option>
    </select>
  </div>
</div>

<!-- <div>
  <img src="" alt="" />
  <div></div>
</div> -->
