<section class="developers backdrop-developers hidden" data-dev>
  <div class="modal-developers">
    <button class="modal__close-footer-btn" data-dev-close>
      <svg class="modal__icon-footer" width="14" height="14">
        <path
          fill="none"
          stroke-width="2"
          stroke="currentColor"
          d="M8.533 8.533l14.933 14.933M8.533 23.467L23.466 8.534"
        />
      </svg>
    </button>
    <div class="developers-container">
      <h2 class="developers__title">Developers</h2>
      <div class="developers-gallery">
        <div class="developers-gallery__item">
          <p class="developers__link">
            <a
              class="developers__link--github"
              href="https://github.com/Yurii-Ilkevych"
              target="_blank"
              rel="noreferrer noopener"
              ><i class="fab fa-github-square"></i
            ></a>
          </p>
          <div class="developers__card">
            <img
            loading="lazy"
              class="developers__image"
              src="./img/developers/Yurii_Ilkevych.jpg"
              alt="Yurii Ilkevych"
            />
          </div>
          <div class="developers__content">
            <h3 class="developers__member">Yurii Ilkevych</h3>
            <p class="developers__position">Team Lead</p>
          </div>
        </div>
        <div class="developers-gallery__item">
          <p class="developers__link">
            <a
              class="developers__link--github"
              href="https://github.com/LameWolf"
              target="_blank"
              rel="noreferrer noopener"
              ><i class="fab fa-github-square"></i
            ></a>
          </p>
          <div class="developers__card">
            <img
            loading="lazy"
              class="developers__image"
              src="./img/developers/Yaroslav_Tkach.jpg"
              alt="Yaroslav Tkach"
            />
          </div>
          <div class="developers__content">
            <h3 class="developers__member">Yaroslav Tkach</h3>
            <p class="developers__position">Scrum Master</p>
          </div>
        </div>
        <div class="developers-gallery__item">
          <p class="developers__link">
            <a
              class="developers__link--github"
              href="https://github.com/ViktoriiaYakymovych"
              target="_blank"
              rel="noreferrer noopener"
              ><i class="fab fa-github-square"></i
            ></a>
          </p>
          <div class="developers__card">
            <img
            loading="lazy"
              class="developers__image"
              src="./img/developers/Viktoriia_Yakymovych.jpg"
              alt="Viktoriia Yakymovych"
            />
          </div>
          <div class="developers__content">
            <h3 class="developers__member">Viktoriia Yakymovych</h3>
            <p class="developers__position">Front-end Developer</p>
          </div>
        </div>
        <div class="developers-gallery__item">
          <p class="developers__link">
            <a
              class="developers__link--github"
              href="https://github.com/Zetonen"
              target="_blank"
              rel="noreferrer noopener"
              ><i class="fab fa-github-square"></i
            ></a>
          </p>
          <div class="developers__card">
            <img
            loading="lazy"
              class="developers__image"
              src="./img/developers/Andrii_Tomashevskyi.jpg"
              alt="Andrii Tomashevskyi"
            />
          </div>
          <div class="developers__content">
            <h3 class="developers__member">Andrii Tomashevskyi</h3>
            <p class="developers__position">Front-end developer</p>
          </div>
        </div>
        <div class="developers-gallery__item">
          <p class="developers__link">
            <a
              class="developers__link--github"
              href="https://github.com/VovaPliuto"
              target="_blank"
              rel="noreferrer noopener"
              ><i class="fab fa-github-square"></i
            ></a>
          </p>
          <div class="developers__card">
            <img
            loading="lazy"
              class="developers__image"
              src="./img/developers/Volodymyr_Pliuto.jpg"
              alt="Volodymyr Pliuto"
            />
          </div>
          <div class="developers__content">
            <h3 class="developers__member">Volodymyr Pliuto</h3>
            <p class="developers__position">Front-end Developer</p>
          </div>
        </div>
        <div class="developers-gallery__item">
          <p class="developers__link">
            <a
              class="developers__link--github"
              href="https://github.com/Egor4ik2"
              target="_blank"
              rel="noreferrer noopener"
              ><i class="fab fa-github-square"></i
            ></a>
          </p>
          <div class="developers__card">
            <img
            loading="lazy"
              class="developers__image"
              src="./img/developers/Egor_Krechuniak.jpg"
              alt="Egor Krechuniak"
            />
          </div>
          <div class="developers__content">
            <h3 class="developers__member">Egor Krechuniak</h3>
            <p class="developers__position">Front-end Developer</p>
          </div>
        </div>
        <div class="developers-gallery__item">
          <p class="developers__link">
            <a
              class="developers__link--github"
              href="https://github.com/IngvarVG76"
              target="_blank"
              rel="noreferrer noopener"
              ><i class="fab fa-github-square"></i
            ></a>
          </p>
          <div class="developers__card">
            <img
            loading="lazy"
              class="developers__image"
              src="./img/developers/Igor_Grybanov.jpg"
              alt="Igor Grybanov"
            />
          </div>
          <div class="developers__content">
            <h3 class="developers__member">Igor Grybanov</h3>
            <p class="developers__position">Front-end Developer</p>
          </div>
        </div>
        <div class="developers-gallery__item">
          <p class="developers__link">
            <a
              class="developers__link--github"
              href="https://github.com/VolodymyrBakun"
              target="_blank"
              rel="noreferrer noopener"
              ><i class="fab fa-github-square"></i
            ></a>
          </p>
          <div class="developers__card">
            <img
            loading="lazy"
              class="developers__image"
              src="./img/developers/Volodymyr_Bakun.jpg"
              alt="Volodymyr Bakun"
            />
          </div>
          <div class="developers__content">
            <h3 class="developers__member">Volodymyr Bakun</h3>
            <p class="developers__position">Front-end Developer</p>
          </div>
        </div>
        <div class="developers-gallery__item">
          <p class="developers__link">
            <a
              class="developers__link--github"
              href="https://github.com/Serzh1006"
              target="_blank"
              rel="noreferrer noopener"
              ><i class="fab fa-github-square"></i
            ></a>
          </p>
          <div class="developers__card">
            <img
            loading="lazy"
              class="developers__image"
              src="./img/developers/Serhii_Kravchenko.jpg"
              alt="Serhii Kravchenko"
            />
          </div>
          <div class="developers__content">
            <h3 class="developers__member">Serhii Kravchenko</h3>
            <p class="developers__position">Front-end Developer</p>
          </div>
        </div>
        <div class="developers-gallery__item">
          <p class="developers__link">
            <a
              class="developers__link--github"
              href="https://github.com/Sasho878748"
              target="_blank"
              rel="noreferrer noopener"
              ><i class="fab fa-github-square"></i
            ></a>
          </p>
          <div class="developers__card">
            <img
            loading="lazy"
              class="developers__image"
              src="./img/developers/Oleksandr_Kovalenko.jpg"
              alt="Oleksandr Kovalenko"
            />
          </div>
          <div class="developers__content">
            <h3 class="developers__member">Oleksandr Kovalenko</h3>
            <p class="developers__position">Front-end Developer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
