<header class="header">
  <div class="container-header">
    <div class="header-wrap">
      <nav class="nav">
        <a class="logo-link" href="./index.html">
          <div class="img-wrap">
            <img src="./public/Frame770814.svg" alt="Cinemania Logo" />
          </div>
          <span class="logo-text">Cinemania</span>
        </a>
        <button type="button" class="nav-menu-btn">MENU</button>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="/index.html" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/catalog.html" class="nav-link">Catalog</a>
          </li>

          <li class="nav-item">
            <a href="/my-library.html" class="nav-link">My library</a>
          </li>
        </ul>
      </nav>
      <div class="theme-changer">
        <img
          class="changer-moon"
          src="./public/moon.svg"
          alt="Moon-icon"
          width="10"
        />
        <img
          class="changer-btn"
          src="./public/white-circle-btn.svg"
          alt="White button"
          width="13"
        />
      </div>
    </div>
  </div>

  <!-- MOBILE-MENU -- -->
  <div class="backdrop is-hidden-header">
    <div class="mobile-menu">
      <nav class="mobile-menu-nav">
        <div class="img-wrap">
          <a class="logo-img" href="./index.html">
            <img
              src="./public/Frame770814.svg"
              alt="Cinemania Logo"
              width="32"
              height="32"
          /></a>
        </div>
        <ul class="mobile-menu-list">
          <li class="mobile-menu-item">
            <a href="/index.html" class="mobile-menu-link">HOME</a>
          </li>
          <li class="mobile-menu-item">
            <a href="/catalog.html" class="mobile-menu-link">CATALOG</a>
          </li>
          <li class="mobile-menu-item">
            <a href="/my-library.html" class="mobile-menu-link">MY LIBRARY</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
