<!-- ================ Default hero ======================= -->

<section class="hero-default">
  <div class="container">
    <div class="hero-default-wrap">
      <h1 class="hero-default-tille">Let’s Make Your Own Cinema</h1>
      <p class="hero-default-text">
        Is a guide to creating a personalized movie theater experience. You'll
        need a projector, screen, and speakers.<span
          class="hero-default-text extended"
          >Decorate your space, choose your films, and stock up on snacks for
          the full experience.</span
        >
      </p>
      <a href="../catalog.html" class="hero-get-started-btn">Get Started</a>
    </div>
  </div>
</section>

<!-- ================ Rendered hero ======================= -->

<!-- <section class="hero-rendered">
  <div class="container hero-rendered-wrap">
    <h1>Ghosted</h1>
    <div>rating</div>
    <p>
      Salt-of-the-earth Cole falls head over heels for enigmatic Sadie — but
      then makes the shocking discovery that she’s a secret agent.
    </p>
    <button type="button">Watch trailer</button>
    <button type="button">More details</button>
  </div>
</section> -->

<!-- ================ Library hero ======================= -->
<!-- 
<section class="hero-library">
  <div class="container hero-library-wrap">
    <h1>Create Your Dream Cinema</h1>
    <p>
      Is a guide to designing a personalized movie theater experience with the right equipment, customized decor, and favorite films. This guide helps you bring the cinema experience into your own home with cozy seating, dim lighting, and movie theater snacks.
    </p>
  </div>
</section> -->
