<!-- ================ Default hero ======================= -->

<section class="hero-default">
  <div class="container">
    <div class="hero-default-wrap">
      <h1 class="hero-default-tille">Let’s Make Your Own Cinema</h1>
      <p class="hero-default-text">
        Is a guide to creating a personalized movie theater experience. You'll
        need a projector, screen, and speakers.<span
          class="hero-default-text extended"
          >Decorate your space, choose your films, and stock up on snacks for
          the full experience.</span
        >
      </p>
      <a href="../catalog.html" class="hero-get-started-btn">Get Started</a>
    </div>
  </div>
</section>

<!-- ================ Rendered hero ======================= -->

<section
  class="hero-rendered"
  style="background-image: url('../img/hero/home-hero-default-desktop@2x.jpg')"
>
  <div class="hero-rendered-gradient">
    <div class="container">
      <div class="hero-rendered-wrap">
        <h1 class="hero-default-tille rendered">Quantumania</h1>
        <div class="hero-rating">
          <div class="hero-star">★★★★★</div>
        </div>
        <p class="hero-default-text rendered">
          Super-Hero find themselves exploring the Quantum Realm, interacting with strange new creatures and embarking on an adventure that will push them beyond the limits of what they thought possible.
        </p>
        <div class="hero-trailer-btn-wrap">
          <div class="hero-trailer-btn-gr">
            <button
              class="hero-trailer-btn"
              id="hero-trailer-btn"
              type="button"
            >
              Watch trailer
            </button>
          </div>
          <div>
            <button class="hero-more-btn" id="hero-more-btn" type="button">
              More details
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


