<section class="list-movie-block-section">
    <div class="container list-movie-block-container">
        <h2 class="visually-hidden">Movie</h2>
        <p class="list-movie-block-oops">OOPS...<br>
            We are very sorry!<br>
            We don't have any results matching your search.</p>
        <ul class="list-movie-block-list">
            <!-- <li class="list-movie-block-item">
                <a class="list-movie-block-link" href="./">
                    <div class="list-movie-block-thumb">
                        <div class="list-movie-block-wrap"><img class="list-movie-block-img" src="./img/img-mob.jpg" alt="${}"></div>
                        <div class="list-movie-block-info">
                            <div><h3 class="list-movie-block-title">Ghosted</h3>
                                <p class="list-movie-block-text">Drama Action | <span class="list-movie-block-span">2023</span></p>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="list-movie-block-item">
                <a class="list-movie-block-link" href="./">
                    <div class="list-movie-block-thumb">
                        <div class="list-movie-block-wrap"><img class="list-movie-block-img" src="./img/img-mob.jpg" alt="${}"></div>
                        <div class="list-movie-block-info">
                            <div><h3 class="list-movie-block-title">Ghosted</h3>
                                <p class="list-movie-block-text">Drama Action | <span class="list-movie-block-span">2023</span></p>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="list-movie-block-item">
                <a class="list-movie-block-link" href="./">
                    <div class="list-movie-block-thumb">
                        <div class="list-movie-block-wrap"><img class="list-movie-block-img" src="./img/img-mob.jpg" alt="${}"></div>
                        <div class="list-movie-block-info">
                            <div><h3 class="list-movie-block-title">Ghosted</h3>
                                <p class="list-movie-block-text">Drama Action | <span class="list-movie-block-span">2023</span></p>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="list-movie-block-item">
                <a class="list-movie-block-link" href="./">
                    <div class="list-movie-block-thumb">
                        <div class="list-movie-block-wrap"><img class="list-movie-block-img" src="./img/img-mob.jpg" alt="${}"></div>
                        <div class="list-movie-block-info">
                            <div><h3 class="list-movie-block-title">Ghosted</h3>
                                <p class="list-movie-block-text">Drama Action | <span class="list-movie-block-span">2023</span></p>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="list-movie-block-item">
                <a class="list-movie-block-link" href="./">
                    <div class="list-movie-block-thumb">
                        <div class="list-movie-block-wrap"><img class="list-movie-block-img" src="./img/img-mob.jpg" alt="${}"></div>
                        <div class="list-movie-block-info">
                            <div><h3 class="list-movie-block-title">Ghosted</h3>
                                <p class="list-movie-block-text">Drama Action | <span class="list-movie-block-span">2023</span></p>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="list-movie-block-item">
                <a class="list-movie-block-link" href="./">
                    <div class="list-movie-block-thumb">
                        <div class="list-movie-block-wrap"><img class="list-movie-block-img" src="./img/img-mob.jpg" alt="${}"></div>
                        <div class="list-movie-block-info">
                            <div><h3 class="list-movie-block-title">Ghosted</h3>
                                <p class="list-movie-block-text">Drama Action | <span class="list-movie-block-span">2023</span></p>
                            </div>
                        </div>
                    </div>
                </a>
            </li> -->
        </ul>
    </div>
</section>