<div class="overlay hidden" data-modal-test>
  <div class="pop-modal">
    <button
      type="button"
      class="modal-close-btn js-modal-close default-btn"
      data-modal-close-test
    >
      <svg class="modal-close-icon" width="24" height="24">
        <use class="svg-close-modal" href="./img/close-outline.svg#close-icon"></use>
      </svg>
    </button>
    <div class="container-all">
      <div class="container-img"></div>
      <div class="container-item">
        <div class="container-item-render"></div>
        <button type="submit" class="modal-add-btn default-btn">
          Add to my library
        </button>
        <button type="submit" class="modal-remove-btn default-btn">
          Remove from my library
        </button>
      </div>
    </div>
  </div>
</div>
