<section class="search-string-block-section">
    <h2 class="visually-hidden">Search Movie</h2>
    <div class="container search-string-block-container">
        <form class="search-string-block-form">
            <div class="search-string-block-wrap">
                <input type="text" class="search-string-block-input" autocomplete="off"
                placeholder="Search">
                <button class="search-string-block-clear-btn display-none" type="button">
                    <svg width="18" height="18">
                        <use href="./img/symbol-defs.svg#icon-x"></use>
                    </svg>
                </button>
            </div>
            <button class="search-string-block-btn" type="submit">
                <svg width="20" height="20">
                    <use href="./img/symbol-defs.svg#icon-search"></use>
                </svg>
            </button>
        </form>
    </div>
</section>