<section class="upcoming">
  <div class="container container-upcoming">
    <h2 class="upcoming-title">upcoming this month</h2>
    <div class="upcoming-film">
      <div class="upcoming-film-img-wrap">
        <img
          class="upcoming-film-img"
          src="../img/1236424 1.jpg"
          alt="Image of the upcoming film"
        />
      </div>
      <div class="about-upcoming-film">
        <h3 class="upcoming-film-name">THE LOST CITY</h3>
        <div class="upcoming-film-info-wrap">
          <div class="upcoming-film-info-part1">
            <div class="upcoming-film-info-rows">
              <p class="upcoming-film-info-row1">Release date</p>
              <p>Vote / Votes</p>
            </div>
            <div class="upcoming-film-info-rows">
              <p class="upcoming-film-info-row1 info-orange-text">03.03.2023</p>
              <div class="info-votes-value-wrap">
                <div class="info-votes-value-white-wrap">
                  <p>7,3</p>
                </div>
                <p class="info-white-text">/</p>
                <div class="info-votes-value-white-wrap">
                  <p>1260</p>
                </div>
              </div>
            </div>
          </div>
          <div class="upcoming-film-info-part2">
            <div class="upcoming-film-info-rows">
              <p class="upcoming-film-info-row1">Popularity</p>
              <p>Genre</p>
            </div>
            <div class="upcoming-film-info-rows info-white-text">
              <p class="upcoming-film-info-row1">99.9</p>
              <p>Comedy, action</p>
            </div>
          </div>
        </div>
        <div class="upcoming-film-description">
          <h4 class="upcoming-film-description-title">ABOUT</h4>
          <div class="upcoming-film-description-text-wrap">
            <p class="upcoming-film-description-text">
              Reclusive author Loretta Sage writes about exotic places
              in her popular adventure novels that feature a handsome cover
              model named Alan. While on tour promoting her new book with Alan,
              Loretta gets kidnapped by an eccentric billionaire who hopes she
              can lead him to an ancient city's lost treasure from her latest
              story. Determined to prove he can be a hero in real life and not
              just on the pages of her books, Alan sets off to rescue her.
            </p>
          </div>
          <button type="button" class="add-to-my-library">
            Add to my library
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
