.library-section-box {
  max-width: 280px;
  padding-top: 35px;
}

.is-hidden {
  display: none;
}

.library-gallery {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.card-poster {
  position: relative;
  width: 280px;
  height: 406px;
  background: var(--linear-black-bottom);

  box-shadow: var(--shadow-bold);
  border-radius: 5px;
  overflow: hidden;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-poster::after {
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: transparent;

  background-image: var(--linear-black-bottom);
}

.card-poster:hover {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1.03);
  cursor: pointer;
}

.title-poster {
  margin-bottom: 8px;
}

.card-poster img {
  object-fit: cover;
}
.info-about-post {
  text-transform: capitalize;
  color: var(--color-gray);
}
.poster-info {
  position: absolute;
  max-width: 170px;
  bottom: 12px;
  left: 12px;
  color: var(--color-white);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-transform: uppercase;
  pointer-events: none;
  z-index: 1;
}

.library-txt-info {
  margin: 0 auto;
  width: 280px;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 20px;
  text-align: center;
  color: var(--color-white);
}

.search-link-films {
  display: block;
  text-align: center;
}

.btn-library-search {
  position: relative;
  width: auto;
  height: auto;
  display: inline-block;
  margin: 0 auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;

  border-radius: 74px;
  padding: 12px 24px;
  background: transparent;
  color: var(--color-background);
  transition: background 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    outline 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-library-search::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: var(--linear-top-light);
  border-radius: 74px;
  z-index: -1;
}

.btn-library-search:hover,
.btn-library-search:focus {
  color: var(--color-orange);
  background: #f5f5f5;
}

.select {
  position: relative;
  width: 202px;
  height: 44px;
}

#genre {
  display: block;
  appearance: none;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  width: 202px;
  height: 44px;
  padding: 14px 30px 10px 20px;
  border: 1px solid #ffffff;
  background: transparent;
  border-radius: 8px;
  color: var(--color-gray);
  cursor: pointer;
}

.select::after {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 15px;
  right: 15px;
  pointer-events: none;
  background-image: url('../img/chevron-down.svg');
}

.select.salto::after {
  transform: matrix(1, 0, 0, -1, 0, 0);
}

select > option {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  background-color: #1c1c1c;
  color: var(--color-secondary-text);
  padding: 14px 0 10px 20px;
}

.info-about-post{
  max-width: 160px;
}

@media screen and (min-width: 768px) {
  .library-txt-info {
    width: 438px;
    font-size: 24px;
    line-height: 1.33;
    margin-bottom: 24px;
  }
  .btn-library-search {
    font-size: 14px;
    line-height: 1.14;
  }
  .library-section-box {
    max-width: 708px;
  }
  .card-poster {
    width: 224px;
    height: 325px;
  }
  .library-gallery {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 28px;
    column-gap: 16px;
  }
  .poster-info {
    max-width: 135px;
    line-height: 1.5;
  }
  .select {
    height: 40px;
  }
  #genre {
    padding: 8px 30px 5px 20px;
  }

  .info-about-post{
    max-width: 110px
  }
}

@media screen and (min-width: 1268px) {
  .library-txt-info {
    width: 584px;
    font-size: 32px;
    line-height: 1.12;
    margin-bottom: 28px;
  }
  .btn-library-search {
    font-size: 18px;
    line-height: 1.56;
  }
  .library-section-box {
    max-width: 1208px;
  }
  .poster-info {
    max-width: 290px;
    font-size: 20px;
    line-height: 1.2;
  }
  .card-poster {
    width: 392px;
    height: 574px;
  }
  .library-gallery {
    row-gap: 32px;
    column-gap: 16px;
  }
  #genre {
    width: 275px;
    height: 44px;
  }
  .select {
    width: 275px;
    height: 50px;
  }


  .info-about-post{
    max-width: 285px
  }
}
