.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.tui-pagination.tui-pagination .tui-page-btn{
border:none
}

.tui-page-btn.tui-is-disabled.tui-first{
display: none;
}
.tui-pagination{
    text-align: center;
}

 .tui-page-btn.important-page{
    border-radius: 50%;
    
} 
.tui-page-btn.tui-is-selected.important-page{
    background: var(--linear-top-light);
    
}
.tui-pagination .tui-first-child.tui-is-selected.important-page{
    border-left: none;
    cursor: pointer;
}


