/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url("../../node_modules/@fortawesome/fontawesome-free/css/all.min.css");
@import url("../../node_modules/modern-normalize/modern-normalize.css");
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./list-movie-block.css');
@import url('./pagination-block.css');
@import url('./search-string-block.css');
@import url('./upcoming-this-mounth.css');
@import url('./weekly-trends-block.css');
@import url('./added-movies.css');
@import url('./modal-window.css');
@import url('./footer.css');
@import url('./trailler-movie.css');
@import url('./developers.css');

:root {
  --linear-black-bottom: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 63.48%,
    rgba(0, 0, 0, 0.9) 92.16%
  );
  --linear-top-light: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  --linear-bottom-light: linear-gradient(
    141.22deg,
    #f84119 9.4%,
    rgba(248, 159, 25, 0.68) 91.91%
  );
  --color-orange: #f87719;
  --color-gray: #b7b7b7;
  --color-white: #ffffff;
  --color-background: #111111;
  --color-secondary-text: #f8f8f8;
  --color-secondary-black: #282828;
  --color-gray-white-theme: #595959;

  --color-background-shadow: #d9d9d9;
  --shadow-bold: 1px 1px 24px 2px rgba(1, 1, 1, 0.45);
  --shadow-orange: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  --shadow-white-theme: 1px 1px 14px 4px rgba(0, 0, 0, 0.22);
}
body {
  font-family: 'Roboto';
  background-color: var(--color-background);
}

/* font styles */

/* 'Roboto Bold 700' */
@font-face {
  font-family: 'Roboto';
  src: url(../Fonts/Roboto/Roboto-Bold.ttf);
  font-weight: 700;
  font-display: swap;
}

/* 'Roboto Medium 500' */
@font-face {
  font-family: 'Roboto';
  src: url(../Fonts/Roboto/Roboto-Medium.ttf);
  font-weight: 500;
  font-display: swap;
}

/* 'Roboto Normal 400' */
@font-face {
  font-family: 'Roboto';
  src: url(../Fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}

/* Container */

.container {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}




html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
